
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
font-family: 'Josefin Sans', sans-serif;
color: white; 
line-height: 1.5;

}

h1, h2, h3 {
font-family: 'Aleo', serif;

}

.container {
    width: min(1200px, 90%);
    margin-inline: auto;
}

img {
    max-width: 100%;
    display: block;
}

/*Hero Section*/ 

.hero {
    min-height: 100vh;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* gap: 1rem;*/
}



