
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
font-family: 'Josefin Sans', sans-serif;
color: white; 
line-height: 1.5;

}

h1, h2, h3 {
font-family: 'Aleo', serif;

}

.container {
    width: min(1200px, 90%); 
    margin-inline: auto;
}

img {
    max-width: 100%;
    display: block;
}

/*Hero Section*/ 

.hero {
    min-height: 100vh;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* gap: 1rem;*/
}

.search-form input {
    width: 650px;
    color: #999999;
    border: none;
}

.search-form button {
cursor: pointer;
background-color: #5474FD;
font-family: 'Aleo', serif;
color: white;
border: 5px solid white;

}

/*Navbar*/

.navbar {
    padding: 1rem 0;
    background: #5474FD;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 4rem;
    font-family: 'Aleo', serif;
}

/*Why Choose Us*/

.why-choose-us {
    padding: 5rem 0;
    background-image: url(../images/whyus.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.why-choose-us .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.why-choose-us-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black; /*remove later*/
}

.why-choose-us-images {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.why-choose-us-images img:last-child {
    margin-left:3rem;
}   /*kan man skriva denna annorlunda*/


/*How it works*/

.how-it-works {
    height: 350px;
    padding: 5rem 0;
    background-image: url(../images/How\ It\ Works.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Destinations*/

.destination-spain {
    padding: 4rem 0;
    height: 700px;
    background-image: url(../images/booknow1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.destination-norway {
    padding: 4rem 0;
    height: 700px;
    background-image: url(../images/booknow2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.destination .container {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 550px;
    min-height: 375px;
    background-color: black;
    opacity: 90%;
    display: flex;
    align-items: flex-end;
    padding: 2rem;

}

/*Testimonial*/

/*Footer*/

/*Responsive design*/





